@import url('https://fonts.googleapis.com/css?family=Coda&display=swap');

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color:white;
  font-family: "Coda", cursive;
}

h1,h2,h3,h4,h5,h6{
  margin:0;
}

::-webkit-scrollbar{
  background:black;
}

::-webkit-scrollbar-thumb{
  background:#000082;
  border-radius: 10px;
}

p{
  margin:0;
}

nav{
  position:fixed;
  right:50px;
  top:50px;
  z-index:1;
}

nav ul{
  list-style: none;
}

a{
  color:white;
  text-decoration: none;
}

nav ul a{
  padding:5px;
  padding-right:0;
  display:inline-block;
  width:100%;
}

a:hover{
  background-color:#03264c;
}

footer{
  width:100%;
  display:flex;
  align-items: center;
  justify-content: center;
}