
nav ul{
  list-style: none;
  margin:0 0;
}

nav ul a{
  padding:5px 0;
  padding-right:0;
  display:inline-block;
  width:100%;
}

a:hover{
  background-color:#03264c;
}

.visible, .notVisible{
  opacity:1;
}

@media (max-width:1200px){
  nav{
    top:85px;
    position:absolute;
    right:50px;
    transition:0.2s;
    overflow:hidden;
  }
  nav ul li{
    text-align: right;
  }

  .visible{
    animation-name:appear;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
  }

  .notVisible{
    animation-name:dissappear;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
  }

  @keyframes appear{
    0%{
      opacity:0;
      display:block;
    }
    100%{
      opacity:1;
      display:block;
    }
  }
  @keyframes dissappear{
    90%{
      opacity:0;
    }
    100%{
      opacity:0;
      display:none;
    }
  }
}