.project{
  display:flex;
  padding-top:5vh; 
  padding-bottom:5vh;
  justify-content:center;
  align-items:center;
  perspective: 600px;
  flex-direction: column;
}

.project img{
  width:100%;
  display:inline-block;
}

.swiper-slide{
  width:40% !important;
  opacity:0.1;
  transition:opacity 0.75s !important;
}

.swiper-container, .swiper-slide, .swiper-wrapper{
  overflow:visible !important;
}

.swiper-slide-active{
  opacity:1;
}